https://aquaguard.local {
    tls internal

    @api path /api/* /socket.io/* /snapshots/live/*
    reverse_proxy @api backend:5000 {
        header_up Host {host}
        transport http {
            dial_timeout 5s
        }
    }

    reverse_proxy frontend:80 {
        header_up Host {host}
        transport http {
            dial_timeout 5s
        }
    }
}

http://aquaguard.local {
    redir https://aquaguard.local{uri} 308
}

http:// {
    @api path /api/* /socket.io/* /snapshots/live/*
    reverse_proxy @api backend:5000 {
        header_up Host {host}
        transport http {
            dial_timeout 5s
        }
    }

    reverse_proxy frontend:80 {
        header_up Host {host}
        transport http {
            dial_timeout 5s
        }
    }
}
